<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Emerson</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Emerson is Awesome!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod consectetur recusandae quidem repellendus unde dolorum animi nulla, culpa alias placeat sunt, consequuntur, et? Iusto minus fugiat dicta dolorem nam sit consequuntur odit aliquam eos commodi in vel rerum, perspiciatis explicabo assumenda obcaecati similique quos tenetur eligendi corporis officiis ullam quaerat. Perferendis totam sunt non laudantium saepe quidem quasi, atque, voluptatem ducimus qui aperiam iusto rerum nam doloremque sint cupiditate blanditiis alias repudiandae maiores, facere amet accusantium voluptas id ea? Mollitia tenetur molestias asperiores, doloribus, quis harum delectus nemo laborum architecto in iure! Voluptates quibusdam, numquam optio incidunt possimus, provident recusandae aut voluptatibus neque ratione distinctio et sit nulla animi tempore eligendi in autem deserunt hic assumenda temporibus. Exercitationem, facilis. Quam!</p>
  <h2>Hello People</h2>
</body>
</html>
