<% include partials/header %>

  <h1>Landing page</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sequi sapiente ullam, autem unde aspernatur distinctio doloribus asperiores nobis beatae, ratione suscipit accusantium officia laborum voluptatum perferendis. Ducimus explicabo, soluta?</p>

  <a href="/campgrounds"> View All Campgrounds</a>

<% include partials/footer %>
