<% include partials/header %>

<h1>This is  the homepage!</h1>

<img src="http://lounge.obviousmag.org/uma_proposta_irrecusavel/2015/03/a-triste-historia-de-guernica-a-obra-prima-de-pablo-picasso.html.jpg?v=20161124090108" alt="Guernica By Picasso">

<% include partials/footer %>
